<div class="flex-container d-flex justify-content-center">
    <div class="row text-center" style="width: 100%;">
        <div class="modal" id="errorModal" #errorModal tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Greška</h3>
                    </div>

                    <div class="modal-body text-start">
                        {{ this.error }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Razumem
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <br>
            <!-- Form Container: Input fields will take up maximum width here -->
            <div class="form-group">
                <label for="inputName">Ime:</label>
                <input type="text" class="form-control" id="inputName" placeholder="Unesite ime" [(ngModel)]="name">
            </div>
            <div class="form-group">
                <label for="inputSurname">Prezime:</label>
                <input type="text" class="form-control" id="inputSurname" placeholder="Unesite prezime"
                    [(ngModel)]="surname">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email:</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Unesite email"
                    [(ngModel)]="email">
            </div>
            <div class="form-group">
                <label for="inputPhone">Telefon:</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="Unesite telefon"
                    [(ngModel)]="phone">
            </div>
            <label for="">Izaberite način preuzimanja:</label><br>
            <div class="form-check form-check-inline"><br>
                <input class="form-check-input" type="radio" name="pickup" id="licno" value="licno" checked
                    [(ngModel)]="pickupMethod">
                <label class="form-check-label" for="licno">Lično preuzimanje</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pickup" id="kurir" value="kurir"
                    [(ngModel)]="pickupMethod">
                <label class="form-check-label" for="kurir">Kurirska služba</label>
            </div>

            <div *ngIf="pickupMethod=='kurir'">
                <br>
                <p class="red">D Express (Rok isporuke 7 dana, Poštarina 399 RSD). Plaćanje pouzećem.</p>
                <div class="form-group">
                    <label for="postalCode">Poštanski broj: </label>
                    <input type="text" class="form-control" id="postalCode" placeholder="Unesite poštanski broj"
                        [(ngModel)]="postal">
                </div>
                <div class="form-group">
                    <label for="city">Grad: </label>
                    <input type="text" class="form-control" id="city" placeholder="Unesite grad" [(ngModel)]="city">
                </div>
                <div class="form-group">
                    <label for="address">Adresa: </label>
                    <input type="text" class="form-control" id="address" placeholder="Unesite adresu"
                        [(ngModel)]="address">
                </div>
            </div>
            <div *ngIf="pickupMethod == 'licno'">
                <br>
                <label for="">Izaberite gde želite da preuzmete porudžbinu:</label>
                <select name="" id="" class="form-select text-center" [(ngModel)]="location">
                    <option value="Terazije 5">Terazije 5</option>
                    <option value="Bulevar Despota Stefana 48">Bulevar Despota Stefana 48</option>
                </select>
            </div>
            <br>
            <textarea class="form-control" id="" name="" placeholder="Dodajte svoj komentar(opciono) ovde..."
                [(ngModel)]="comment"></textarea><br>
            <label for="promo">Unesite Promo kod:</label><input class="form-control" type="text" [(ngModel)]="promo"
                name="" id="promo"><br>
            <button class="btn btn-danger w-100 mb-3" (click)="next()">
                DALJE
            </button>
            <!-- for small devices -->
            <div class="slide-panel d-md-none">
                <!-- Handle that also moves up and down with the panel -->
                <div class="handle" data-bs-toggle="collapse" data-bs-target="#slidePanelContent" aria-expanded="false"
                    aria-controls="slidePanelContent">
                    <span class="bi bi-info-circle-fill me-2"></span>
                    <!-- Bootstrap Icons can be used here if included -->
                    Detalji porudžbine
                </div>

                <!-- Collapsible Content -->
                <div class="collapse" id="slidePanelContent">
                    <div class="p-4">
                        <!-- Your content here -->
                        Izabrali ste: {{numberOfPictures}} slika.
                        <hr>
                        Cena porudžbine je: {{ totalPrice | number:'1.2-2' }} RSD.
                        <hr>
                        <span *ngIf="extrasChosen=='da'">Izabrali ste: {{numberOfExtras}} set/a poklona. </span>
                        <span *ngIf="extrasChosen=='ne'">Niste odabrali da želite set poklona. </span>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <br>
            <div class="d-none d-md-block">
                <div class="order-details">
                    <!-- Content similar to the slide-panel -->
                    
                    <div class="order-details-header">
                        <b>Detalji porudžbine</b>
                    </div>
                    <hr>
                    Izabrali ste: {{ numberOfPictures }} slika.
                    <hr>
                    Cena porudžbine je: {{ totalPrice | number:'1.2-2' }} RSD.
                    <hr>
                    <span *ngIf="extrasChosen=='da'">Izabrali ste: {{ numberOfExtras }} set/a poklona. </span>
                    <span *ngIf="extrasChosen=='ne'">Niste odabrali da želite set poklona. </span>
                    <hr>
                </div>
            </div>
            <!-- Right Spacer -->
            
            <br>
            <div class="order-details">
                <!-- Content similar to the slide-panel -->
                    <b><label for="">Terazije 5, Beograd </label></b>
                <hr>
                
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45256.28670148684!2d20.441599450061148!3d44.85175012584885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a700a5fd60189%3A0x64ae501cd96cdeec!2sFoto%20Studio%20%C5%BDivkovi%C4%87(FOTO%20STUDIO%20ART%20DIGITAL)!5e0!3m2!1sen!2srs!4v1678709506593!5m2!1sen!2srs&amp;z=15"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="order-details">
                <!-- Content similar to the slide-panel -->
                    <b><label for="">Bulevar despota Stefana 48, Beograd</label></b>
                <hr>
                
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45256.28670148684!2d20.441599450061148!3d44.85175012584885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7b9634cbe4a1%3A0x8de870566be4663c!2sFOTO%20STUDIO%20PRIME(art%20digital%20foto)!5e0!3m2!1sen!2srs!4v1678709538567!5m2!1sen!2srs"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
            
            <br>
            
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>